.Item {
  text-align: left;
  /* border-bottom: 1px solid grey; */
  border-bottom: 1px solid grey;
  padding: 10px 15px;

  height: 75px;
  color: white;
  background-color: black;
}

.Item-btn-watchlist {
  margin-left: 10px;

  padding: 1px 3px !important;
  margin-bottom: 5px !important;
}

.Item-btn-change {
  border-radius: 3px;
  /* padding-left: 10px !important;
  padding-right: 2px !important; */
  font-size: 18px !important;
}
.Item-title {
  margin-bottom: 0px;
}

.Item-title:hover {
  color: rgb(187, 183, 183);
  cursor: pointer;
}

.Item-info-icon {
  font-size: 8px;
  margin-left: 6px;
  color: rgb(200, 210, 236);
  transition: all 0.2s;
}

.Item-fullname {
  color: grey;
  font-size: 15px;
}

@media only screen and (max-width: 414px) {
  .Item {
    height: 70px;
  }
  .Item-title {
    font-size: 22px;
  }

  .Item-btn-change {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 320px) {
  .Item {
    height: 67px;
  }

  .Item-title {
    font-size: 20px;
  }
  .Item-btn-change {
    font-size: 15px !important;
  }
}
